{% extends 'layout.html' %}

{% block body %}
<a class="btn btn-success" href="/add_entry/{{articles.ifpid}}/{{articles.format}}/{{articles.country}}/{{articles.date}}">Add Entry</a>
<br>
</br>
<div class="table-responsive">
  <table class="table table-striped">

    <th> IFPID </th>
    <th> COUNTRY </th>
    <th> FORMAT </th>
    <th> ELECTION DATE </th>
    <th> POLL DATE </th>
    <th> FIELD WORK DATE </th>
    <th> POLLING FIRM </th>
    <th> SAMPLE SIZE </th>
    <th> MOE </th>
    <th> LEAD </th>
    <th> CANDIDATE NAMES </th>
    <th> POLL NUMBERS </th>
    <th></th>
    <th></th>
    <th></th>

    {% for candidate in candidates %}
      <tr>

        <td>{{candidate.ifpid}}</td>
        <td>{{candidate.country}}</td>
        <td>{{candidate.eformat}}</td>
        <td>{{candidate.date}}</td>
        <td>{{candidate.polldate}}</td>
        <td>{{candidate.fieldworkdate}}</td>
        <td>{{candidate.pollingfirm}}</td>
        <td>{{candidate.samplesize}}</td>
        <td>{{candidate.moe}}</td>
        <td>{{candidate.calculate}}</td>
        <td>{{candidate.candidatenames}}</td>
        <td>{{candidate.pollnumbers}}</td>

        <td><a href="edit_entry/{{candidate.id}}" class="btn btn-default pull-right">Edit</a></td>
        <td>
          <form action="{{url_for('delete_entry', id=candidate.id, country=candidate.country, date=candidate.date)}}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </td>
  </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
